{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}CitySearch{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {% block stylesheets %}<!-- Custom Stylesheets -->{% endblock %}
    </head>

    <body>
        <div id="backgroundFade"></div>
        {% block menu %}
            <div id="menu">
                <a href="{% url 'index' %}"><img id="smallLogo" src="{% static 'img/logo.png' %}"></a>
                {% spaceless %}
                <a href="{% url 'index' %}"><div id="homeBtn" class="menuBtn">HOME</div></a>
                {% endspaceless %}
                {% if user.username %}
                <a href="{% url 'logout' %}"><div id="logoutBtn" class="menuBtn">LOGOUT</div></a>
                <p id="userWelcome">Welcome {{ user.username }}!</p>
                {% else %}
                <p id="userWelcome">Welcome anonymous user!
                You need to <a href="{% url 'login' %}">login</a></p>
                {% endif %}


            </div>
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
