{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}CitySearch{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {% block stylesheets %}<!-- Custom Stylesheets -->{% endblock %}
    </head>

    <body>
        <div id="backgroundFade"></div>
        {% block menu %}
            <div id="menu">
                <div id="smallLogo"></div>
                {% spaceless %}
                <a href="{% url 'index' %}"><div id="homeBtn" class="menuBtn">HOME</div></a>
                <a href="{% url 'index' %}"><div id="logoutBtn" class="menuBtn">LOGOUT</div></a>
                {% endspaceless %}
            </div>
        {% endblock %}
        {% block content %}<!-- Content -->{% endblock %}
    </body>
</html>