{% extends "base_generic.html" %}
{% load static %}

{% block stylesheets %}<link rel="stylesheet" href="{% static "css/search.css" %}">{% endblock %}

{% block menu %}<a href="{% url 'logout' %}"><div id="logoutBtn" class="menuBtn">LOGOUT</div></a>{% endblock %}

{% block content %}
<a href="{% url 'index' %}"><img id="logo" src="{% static 'img/logo.png' %}"></a>
<div id="search">
    <form action="{% url 'result' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <br><input type="submit" value="Search" id="searchBtn">
    </form>
</div>
{% endblock %}