{% extends "base_generic.html" %}
{% load static %}

{% block stylesheets %}<link rel="stylesheet" href="{% static "css/register.css" %}">{% endblock %}

{% block title %}User Registration{% endblock %}
{% block content %}
    <div id="register">
        <form method="post" action=".">
        {{ form.as_p }}
        <input type="submit" value="Register" id="registerBtn" />
        {% csrf_token %}
        </form>
        <a id="login" href="{% url 'login' %}">Or Click here to Login</a>
    </div>
{% endblock %}
