#login {
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8)
}

#loginBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#loginTable {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#register {
    width: 100%;
    color: #00427D;
    text-align: center;
    position: relative;
    top: 8px;
    display: block;
    font-weight: bold;
}