.item {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 25%;
}

.item p {
    color: black;
    width: 80%;
    margin: 0px;
    padding: 5px;
    margin-top: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.type {
    font-size: 12px;
    margin-top: 0px!important;
    padding-top: 0px!important;
}

.name {
    font-weight: bold;
}

#content {
    overflow: auto;
}

#search {
    width: 20%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    left: 10px;
    top: 90px;
    position: fixed;
}

#error {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-variant: small-caps;
}

#page {
    width: 20%;
    left: 10px;
    top: 510px;
    position: fixed;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    line-height: 40px;
}

#current {
    display: block;
    margin: 0px;
    width: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pageBtn {
    width: 80px;
    color: black;
    line-height: 40px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    text-align: center;
    border-radius: 20px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    cursor: pointer;
}

.pageBtn:hover {
    color: white;
    background-color: rgba(0, 66, 125, 0.9);
}

#previous {
    left: 5px;
}

#next {
    right: 5px;
}